<table class="front">
  <% if logged_in? %>
    <tr>
      <td>
        <h1 class="wish_item">What do you want?</h1>
        <%= render 'wish_item_form' %>
      </td>
    </tr>
    <% unless current_user.drawn_name.blank? %>
      <tr>
        <td>
          You drew <%= link_to current_user.drawn_name.receiver.name, current_user.drawn_name.receiver %> in the Christmas draw.<br/><br/>
        </td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td class="wish_lists">
    <h1>Wish Lists</h1>
    <% @users.each do |user| %>
      <h2><%= gravatar_for user, :size => 30 %> <%= link_to user.name, user %></h2>
      <ul class="wish_items">
        <% if user.wish_items.count > 0 %>
          <%= render user.wish_items %>
        <% else %>
          <li><%= make_fake_wish %></li>
        <% end %>
      </ul>
    <% end %>
    </td>
  </tr>
</table>