<h1>Administration</h1>

<%= link_to "Add a user", new_user_path %><br/>
<%= link_to "See users", users_path %></br>
<%= link_to "See user ownerships", pages_ownerships_path %><br/>
<%= link_to "See drawing rules", pages_draw_rules_path %><br/>
<%= link_to "Draw names", new_draw_name_path %><br/>
<%= link_to "See drawn names", draw_names_path %>
